/* app css stylesheet */
body {
  background-color: gray;
}

/*menu*/
.menu {
  list-style: none;
  border-bottom: 0.5em solid purple;
  margin: 3em 0em 0em 0em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

/*subtitle*/
.subtitle {
  margin: 1em 2em 0em 0em;
  font-family: 'Open Sans', sans-serif;
}

.subtitle h2 {
  font-weight: bold;
}