/* app css stylesheet */
body {
  background-color: gray;
  padding: 2em 0em
}

/*menu*/
.table {
  display: table;
  margin: 0 auto;
}

.menu {
  border-bottom: 0.5em solid purple;
  text-align: center;
}

.map {
  margin: auto;
}

ul{
  position:relative;
  display: inline-block;  
  list-style: none;
  width:100%;
  text-align: center;
  margin: auto;
  padding: 0;
}

.map > li {
  display: inline-block;
}

.map > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

/*subtitle*/
.subtitle {
  margin: 1em 2em 0em 0em;
  font-family: 'Open Sans', sans-serif;
}

.subtitle h2 {
  font-weight: bold;
}